@font-face {
  font-family: "LCD";
  src:
    local("LCD"),
    url("../assets/LCD.ttf"),
}


html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:#444;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#canvas {    
    top:0px;
    position:absolute;
    touch-action: none;

}

#app {
    width: 100%;
    height: 100%;
}

#scoreboard {
    color:#FFF;
    position:absolute;
    z-index: 9999;
    display: flex;
    width: 580px;
    padding: 10px;
    font-family:'LCD', 'Courier New', Courier, monospace;
    font-size:20px;

}

#scoreboard div {
    width:50%;
}

#restart, #balls {
    text-align:right;
    margin:0px;
}

#restart {
    display:none;;
}

#restart a{
    color:#FFF;
}

#battery {
    color:#fff;
    position:absolute;
    left:268px;
    top: 535px;
    z-index: 9999;
    background-color:#C00;
    width:24px;
    height:0px;
    border-top:30px solid #111;
}