@font-face {
  font-family: "LCD";
  src:
    local("LCD"),
    url("../assets/LCD.ttf"),
}

@font-face {
font-family: "title";
src:
    local("title"),
    url("../assets/title.ttf"),
}

html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:#444;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    position: absolute;
    z-index:9999;
    font-family:'title';
    position:absolute;
    top:0px;
    margin-top:0px;
    text-align:center;
    color:#CFC;
    font-size:16px;
    width:600px;
}


#canvas {    
    top:0px;
    position:absolute;
    touch-action: none;
    width: 100%;

    max-width: 600px;
}

#app {
    width: 100%;
    height: 100%;
}


#score-background {
    color:#030;
    position:absolute;
    z-index: 8888;
    display: flex;
    width: 560px;
    padding: 6px 0px 0px 20px;
    font-family:'LCD', 'Courier New', Courier, monospace;
    font-size:20px;
}

#scoreboard {
    color:#0E6;
    position:absolute;
    z-index: 9999;
    display: flex;
    width: 560px;
    padding: 6px 0px 0px 20px;
    font-family:'LCD', 'Courier New', Courier, monospace;
    font-size:20px;

}

#scoreboard div, #score-background div {
    width:50%;
}

#restart, #balls, #score-background p {
    text-align:right;
    margin:0px;
}

#restart {
    display:none;;
}

#restart a{
    color:#0E6;
}

#battery {
    color:#fff;
    position:absolute;
    left:268px;
    top: 535px;
    z-index: 9998;
    background-color:#C00;
    width:24px;
    height:0px;
    border-top:30px solid #111;
    opacity: 0.8;

}

#reflection {
    position:absolute;
    left:269px;
    top: 526px;
    z-index: 9999;
}

#open-instructions {
    position: absolute;
    top: 805px;
    left: 20px;
    cursor:pointer;
}


#open-instructions img {
    width: 80px;
}

#instructions {
    font-family: arial, sans-serif;
    position: absolute;
    top: 100px;
    left: 40px;
    width:500px;
    border: 2px solid black;
    background-color:#FFF;
    padding:12px;
    z-index: 9999;
    display:none;
}

#instructions h2 {
    text-align: center;
    font-family: 'title';
    margin:0;

}

#instructions h3 {
    text-align: center;
    margin-top:0;
    text-decoration:underline;
}

.flex {
    display:flex;
}

.flex span {
    font-weight:bold;
}

.flex img {
    width:20px;
}

.logo {
    width:100px;
}

#x {
    float:right;
    font-size:20px;
    cursor:pointer;
}